.container.mx-auto.p-4
  .max-w-3xl.mx-auto.bg-white.shadow-lg.rounded-lg.overflow-hidden
    .p-6
      .flex.items-center.gap-4.mb-6
        = image_tag @recipe.thumbnail_url, alt: @recipe.name, width: 100, height: 100, class: "rounded-lg"
        .flex.flex-col
          %h1.text-3xl.font-bold
            = @recipe.name
          %p.text-sm.text-gray-600
            = @recipe.name_en

      .grid.gap-4
        .grid.gap-2
          %h3.font-semibold Description
          %p
            = @recipe.description

        .grid.gap-2
          %h3.font-semibold Trivia
          %p.text-sm
            = @recipe.trivia

        .grid.gap-2
          %h3.font-semibold Characteristics
          .flex.flex-wrap.gap-2
            - characteristics = ["Alcohol: #{@recipe.alcohol}%", "Type: #{@recipe.type.name}", "Taste: #{@recipe.taste.name}", "Color: #{@recipe.color.name}", "Technique: #{@recipe.technique.name}", "Ice: #{@recipe.is_ice}"]
            - characteristics.each do |char|
              %span.inline-block.bg-gray-200.rounded-full.px-3.py-1.text-sm.font-semibold.text-gray-700= char

      .mt-6
        = link_to '戻る', admin_recipes_path, class: 'inline-block.bg-blue-500.hover:bg-blue-700.text-white.font-bold.py-2.px-4.rounded'
